<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>MCQuizer |
{% block title %}{% endblock %}</title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}" />
<script type="text/javascript" src="{% static 'javascript/jquery-1.11.3.min.js' %}"></script>
{% block external %}{% endblock %}
</head>
<body>
<div id="nav">
<a href="/main_page.html">home</a> |
{% if user.is_authenticated %}
welcome 
<a href="/user/">
{{ user.username }}</a> |
<a href="/logout/">logout</a>
{% else %}
<a href="/login/">login</a>
<a href="/register/">register</a>
{% endif %}
</div>
<h1>{% block head %}{% endblock %}</h1>
{% block content %}{% endblock %}
</body>
</html>
