<!DOCTYPE html> 
<html lang="en">
    <head>
        <title>MCQuizzer |
            {% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="keywords" content="Education, Quiz, Quizzer, Quiz">
        <meta name="description" content="Set quizzes for your students, employees and numerous others and share">
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}" />
        <script type="text/javascript" src="{% static 'javascript/jquery-1.11.3.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

        {% block external %} {% endblock %}
    </head>
    
    <body style="background-color: rgb(231, 231, 231);">
        <div id="myinnercontainer" class="container-fluid"> 
            <nav class="navbar navbar-default" style="background-color: #00ccff;">
                <div style="padding: 40px;" >
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span> 
                        </button>
                        <a class="navbar-brand" id="Hbrand" href="#"><b>MCQuizzer</b></a>
                    </div>

                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-left">
                            <li class="active"><a href="/main_page.html">Home</a></li>
                            <li><a href="">About</a></li> 
                            <li><a href="">Contact</a>  </li> 
                        </ul>
                        <ul class="nav navbar-nav navbar-right" id="ulRight">
                            {% if user.is_authenticated %} 
                            <li><a href="/user/" class="text-capitalize">Welcome {{ user.username }}</a></li>
                            <li><a href="/score_page/">My Scores</a></li>
                            <li> <a href="/logout/">Logout</a></li>
                            {% else %}
                            <li><a href="/register/">Register</a></li>
                            <li><a href="/login/">  Login</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
            
            <div id="bodycontent">
                <div style="margin: 30px;"><h3>{% block head %}{% endblock %}</h3>

                {% block content %}{% endblock %}</div>
            </div>
        </div>
    </body>
</html>
