{%extends "base.html" %}
{% load static %}
{% block external %}
<script type="text/javascript" src="{% static 'javascript/editfunc.js' %}"></script>
{% endblock %}
{%block title %}{{ user.username }}{% endblock %}
{%block head %}Questions for {{ quiz.title }}{% endblock %}
<a href="/result/score/{{ quiz.id }}/" class="btn btn-md btn-link">Score</a> 
{%block content %}
<script>
$(document).ready(function () {
    $(".edit").click(question_edit);
    $(".delete").click(question_delete);
});
</script>
{% if quiz.title %}
<p>Duration : {{ quiz.time }} minutes</p>
{% if questions %}

<form class="form-group pull-left">

    <ol>
        {% for question in questions %}
        <li id="{{ question.id }}"><b>{{ question.question_text }}</b><br>

            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


            {% csrf_token %}
            {% for choice in question.choice_set.all %}
            <input type="radio" name="choice{{ question.id }}" id="choice{{ forloop.counter }}"  value="{{ forloop.counter }}"/>
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />

            {% endfor %}    
            <a href="." class="edit btn btn-warning">Edit</a>
            <a href="/deleteq/{{ question.id }}/{{ quiz.id }}/" class="btn btn-danger">Delete</a></li>
        {% endfor %}
    </ol>
</form>
<br>
{% endif %}

<div class="clearfix"></div>
<form method="post" action="/saveq/{{ quiz.id }}/" class="form-group pull-left">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Add Question" class="btn btn-primary"/>
</form>
<br>

{% else %}
<form method="post" action="/saveqz/" class="form-group pull-left">
    {% csrf_token %}
    {{ form.as_p }}
    <input  class="btn btn-primary" type="submit" value="Save" />
</form>
{% endif %}
{% endblock %}
