// Page level styling
body{
    background-color: rgb(231, 231, 231); 
} 

#myinnercontainer{
    height: inherit;
    padding: 0px;
    overflow-x: no-display;
    margin-top: 0px;
    margin-bottom: 0px;
    box-shadow: 10px 10px 5px grey;
    background-color: #FFFFFF;
}

/* Styling for the navbar of the page*/
#myNavbar{
}

/* Stying for the body content of the page*/
    width: inherit; 
    height: inherit;
    margin-left: 30px;
}

#myForms{
    background: #eee;  
    border-color: #de995e;
    -moz-border-radius: 0 0 4px 4px; 
    -webkit-border-radius: 0 0 4px 4px; 
    border-radius: 0 0 4px 4px;
    text-align: left;
}

h3 {
    color: #66ccff;
}

.edit {
    display: inline
;}
ul{
    list-style: none;
}
a, a:link, a:visited, a:active, a:hover {
    border:0!important; 
    text-decoration: none;
}

li.quizname a, a:link, a:visited, a:active, a:hover {
    text-decoration: none;
}

@media only screen and (min-width: 1200px) {
    /* For smaller devices: */
    #myinnercontainer{
        margin: 180px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    #myForms{
    margin:200px;
    margin-top: 20px;
    margin-bottom: 40px;
}

    #Hbrand{
        font-family: algerian;
        font-size: 35px;
    }

}

@media only screen and (max-width: 1200px) {
    /* For larger devices: */

    #myinnercontainer{
        margin: 50px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

     #myForms{
    margin: 190px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

    #Hbrand{
        font-family: algerian;
        font-size: 30px;
    }

}


@media only screen and (max-width: 900px) {
    /* For medium devices: */
    #myinnercontainer{
        margin: 30px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 13px;
    }

     #myForms{
    margin: 160px;
    margin-top: 20px;
}

    #Hbrand{
        font-family: algerian;
        font-size: 19px;
    }


}

@media only screen and (max-width: 765px) {
    /* For mobile phones: */
    #myinnercontainer{
        margin: 0px;
        font-size: 13px;
    }

     #myForms{
    margin: 20px;
    margin-top: 10px;
    margin-right: 40px;
}

    #Hbrand{
        font-family: algerian;
        font-size: 18px;
    }

}

.form-box {
    margin-top: 35px;
}

.form-top {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: #fff;
    -moz-border-radius: 4px 4px 0 0; 
    -webkit-border-radius: 4px 4px 0 0; 
    border-radius: 4px 4px 0 0;
    text-align: left;
}

.form-top-left {
    float: left;
    width: 75%;
    padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; }

.form-top-right {
    float: left;
    width: 25%;
    padding-top: 5px;
    font-size: 66px;
    color: #ddd;
    line-height: 100px;
    text-align: right;
}

.form-bottom {
    padding: 25px 25px 30px 25px;
    background: #eee;
    -moz-border-radius: 0 0 4px 4px; 
    -webkit-border-radius: 0 0 4px 4px; 
    border-radius: 0 0 4px 4px;
    text-align: left;
}

.form-bottom form textarea {
    height: 100px;
}

.form-bottom form button.btn {
    width: 100%;
}

.form-bottom form .input-error {
    border-color: #de995e;
}

input[type="text"],input[type="number"],input[type="email"],  
input[type="password"], 
textarea, textarea.form-control {
    height: 30px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #f8f8f8;
    border: 3px solid #ddd;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

textarea, 
textarea.form-control {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 30px;
}

input[type="text"]:focus, input[type="number"],input[type="email"], 
input[type="password"]:focus, 
textarea:focus, 
textarea.form-control:focus {
    outline: 0;
    background: #fff;
    border: 3px solid #ccc;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

input[type="number"]:-moz-placeholder, input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, 
textarea:-moz-placeholder, textarea.form-control:-moz-placeholder { color: #888; }

input[type="number"]:-moz-placeholder, input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, 
textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder { color: #888; }

input[type="number"]:-moz-placeholder, input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder { color: #888; }

button.btn {
    height: 30px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #de995e;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

input[type="submit"].btn:hover, button.btn:hover { opacity: 0.6; color: #fff; }

input[type="submit"].btn:active, button.btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; 
                                                     box-shadow: none; }

input[type="submit"].btn:focus, button.btn:focus { outline: 0; opacity: 0.6; background: #de995e; color: #fff; }

input[type="submit"].btn:active:focus, button.btn.active:focus { outline: 0; opacity: 0.6; background: #de995e; color: #fff; }

html, body{
   height: 100%;
   min-height: 100%;
}
