// Page level styling
body{
    background-color: rgb(231, 231, 231); 
} 

 #myinnercontainer{
        height: inherit;
        padding: 0px;
        overflow-x: no-display;
        margin-top: 0px;
        margin-bottom: 0px;
        box-shadow: 10px 10px 5px grey;
        background-color: #FFFFFF;
    }
    
//Styling for the navbar of the page
#myNavbar{
}

// Stying for the content of the page
#bodycontent{
    width: inherit; 
    height: inherit;
}

h3 {
    color: green;
}

.edit {
    display: inline;
}

@media only screen and (min-width: 1200px) {
    /* For smaller devices: */
    #myinnercontainer{
        margin: 180px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    #Hbrand{
        font-family: algerian;
        font-size: 35px;
    }

}

@media only screen and (max-width: 1200px) {
    /* For larger devices: */

    #myinnercontainer{
        margin: 50px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    
    #Hbrand{
        font-family: algerian;
        font-size: 30px;
    }

}


@media only screen and (max-width: 900px) {
    /* For medium devices: */
    #myinnercontainer{
        margin: 30px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 13px;
    }

    #Hbrand{
        font-family: algerian;
        font-size: 19px;
    }


}

@media only screen and (max-width: 765px) {
    /* For mobile phones: */
    #myinnercontainer{
        margin: 0px;
        font-size: 13px;
    }

    #Hbrand{
        font-family: algerian;
        font-size: 18px;
    }

}
