{%extends "base.html" %}
{% load static %}
{%block title %}{{ user.username }}{% endblock %}
{%block head %}Questions for {{ quiz.title }}{% endblock %}
{%block content %}

{% if questions %}
<p>Time : {{ quiz.time }} minutes</p>
<a href="/result/score/{{ quiz.id }}/">score</a> 
<form>
{% for question in questions %}

<p><b>{{ question.question_text }}</b></p>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice{{ question.id }}" id="choice{{ forloop.counter }}" class="choice" "  value="{{ forloop.counter }}"/>
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
{% endfor %}
</form>
</br>

<form method="post" action="/saveq/{{ quiz.id }}/">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Add Question" />
</form>
</br>

{% else %}
<form method="post" action="/saveqz/">
{% csrf_token %}
{{ form1.as_p }}
{{ form2.as_p }}
<input type="submit" value="Add Question" />
</form>
{% endif %}
{% endblock %}
